{% extends "testdb/base.html" %}
{% block content %}
	
  <title>Siesmic network and stations</title>
	<div>

		<style type="text/css">
			@media screen and (max-width: 800px)
			{
			  p { display: inline; }
			  img { position: absolute; }
			}
		</style>
		<p style="font-family: time new ramone; font-size: 19px; text-align: justify; margin : 0; margin-left: 130px; margin-top: 60px; width: 115%"><strong style="font-size: 22px">Mesopotamian Seismological Network  (MPSN)</strong> <br><br>

			

			The Mesopotamian Seismological Network (MPSN) is a local seismic network consisting of broadband seismic stations that are located in different cities in Iraq. Table 1 lists the information on the temporary and permanent broadband seismic stations, and Figure 1 represents the location map of these stations. The aim of having these stations is to study the seismicity of Iraq, and also to fill the gap of broadband seismic stations near the Zagros belt, which is the most seismic area in the region.
			The Seismological Laboratory of the University of Basrah (SLUB) was established in 2014 at the Department of Geology, College of Science, University of Basrah. SLUB is the data center that collects, reformats, and archives digital data from all broadband seismic stations of the MPSN. The MP, which stands for Mesopotamia, is the network code that was assigned by the International Federation of Digital Seismograph Networks (FDSN).  
</p><p style="margin : 0; margin-left: 130px; margin-top: 3px; position: relative; font-family: time new romane; font-size: 19px;">For more details, see <a target="_blank" href="https://www.fdsn.org/networks/detail/MP/"> https://www.fdsn.org/networks/detail/MP/</a></p> 

	</div>
	<img style="margin-left: 320px; margin-top: 50px; position: relative;  display: flex; justify-content: space-between;" src="https://i.pinimg.com/564x/e4/a1/00/e4a1007d014720ee0fb816aca2e99dba.jpg">
	<p style="margin-left: 270px; text-align: justify; margin-top: 50px; position: relative; font-size: 19px; font-family: time new romane; width: 115%"><strong>Figure 1:</strong> Seismic Stations of the Mesopotamian Seismological Network (MPSN).</p>

<br><br><br>


<style type="text/css">
	table {
	  border-collapse: collapse;
	  width: 100%;
	  border: 1px solid black;
	}

	th, td {
	  text-align: center;
	  padding: 8px;
	}

	tr:nth-child(even)
	{
	  background-color: #c9def0;
	  border: 1px solid black;
	}

	th {
	  background-color: #96cb7f;
	  color: black;
	}
</style>

<div class="table-responsive-lg">
	<table style="width: 150%; margin-left: 22px; font-family: Times New Roman;">
		<tr>
			<th>Station Code</th>
			<th>Station Name</th>
			<th>Lat.</th>
			<th>Log.</th>
			<th>Elv. (m)</th>
			<th>Start Y/M/D</th>
			<th>End Y/M/D</th>
			<th>Sensor/digitizer type</th>
			
			<th><a href="https://f005.backblazeb2.com/file/mpsniq/stations/XML_Files_MPSN.zip" target="_blank"> XML Files Download All</a></th>
			<th></th>
		</tr>
		<tr>
			<td>AMR1</td>
			<td>Amarah 1</td>
			<td>31.9590</td>
			<td>46.9286</td>
			<td>9</td>
			<td>2015/03/06</td>
			<td>2015/10/31</td>
			<td>CMG-40T/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/AMR1.zip" target="_blank">Download</a></td>
	
			<td></td>
		</tr>
		<tr>
			<td>AMR2</td>
			<td>Amarah 2</td>
			<td>31.9899</td>
			<td>47.1902</td>
			<td>9</td>
			<td>2015/11/07<br>2018/09/04</td>
			<td>2018/09/03<br>--</td>
			<td>CMG-40T/DM24<br>CMG-3ESP/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/AMR2.zip" target="_blank">Download</a></td>
			
			<td></td>
		</tr>
		<tr>
			<td>ANB1</td>
			<td>Anbar 1</td>
			<td>33.4018</td>
			<td>43.2576</td>
			<td>52</td>
			<td>2018/10/16</td>
			<td>--</td>
			<td>CMG-3ESP/DM24</td>
			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/ANB1.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>ANB2</td>
			<td>Anbar 2</td>
			<td>33.0375</td>
			<td>40.3200</td>
			<td>622</td>
			<td>2023/07/01</td>
			<td>--</td>
			<td>CMG-40T/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/ANB2.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>BSR1</td>
			<td>Basrah 1</td>
			<td>30.3581</td>
			<td>47.6153</td>
			<td>12</td>
			<td>2014/08/10</td>
			<td>2015/08/28</td>
			<td>CMG-40T/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/BSR1.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>BSR2</td>
			<td>Basrah 2</td>
			<td>30.2927</td>
			<td>47.6191</td>
			<td>16</td>
			<td>2015/09/05</td>
			<td>--</td>
			<td>CMG-40T/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/BSR2.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>DHK1</td>
			<td>Duhok 1</td>
			<td>36.8606</td>
			<td>42.8665</td>
			<td>766</td>
			<td>2007/01/03</td>
			<td>--</td>
			<td>CMG-3ESP/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/DHK1.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>KAR2</td>
			<td>Karbala 2</td>
			<td>32.5398</td>
			<td>44.0224</td>
			<td>45</td>
			<td>2017/01/15</td>
			<td>2023/02/28</td>
			<td>CMG-40T/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/KAR2.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>KIR1</td>
			<td>Kirkuk 1</td>
			<td>35.3880</td>
			<td>44.3419</td>
			<td>290</td>
			<td>2018/09/17</td>
			<td>--</td>
			<td>CMG-3ESP/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/KIR1.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>KUT1</td>
			<td>Kut 1</td>
			<td>32.5091</td>
			<td>45.7973</td>
			<td>17</td>
			<td>2021/11/25</td>
			<td>2023/02/28</td>
			<td>CMG-3ESP/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/KUT1.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>NSR1</td>
			<td>Nasiriya 1</td>
			<td>31.7416</td>
			<td>46.1151</td>
			<td>12</td>
			<td>2014/08/01</td>
			<td>2017/09/30</td>
			<td>CMG40T/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/NSR1.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>NSR2</td>
			<td>Nasiriya 2</td>
			<td>31.5550</td>
			<td>46.1374</td>
			<td>9</td>
			<td>2014/07/31</td>
			<td>2014/09/21</td>
			<td>CMG40T/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/NSR2.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>NSR3</td>
			<td>Nasiriya 3</td>
			<td>31.0514</td>
			<td>46.2199</td>
			<td>6</td>
			<td>2014/07/01</td>
			<td>2014/11/30</td>
			<td>CMG40T/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/NSR3.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>NSR4</td>
			<td>Nasiriya 4</td>
			<td>31.5399</td>
			<td>46.2016</td>
			<td>7</td>
			<td>2017/10/08</td>
			<td>--</td>
			<td>CMG-40T/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/NSR4.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>SAM1</td>
			<td>Samawa 1</td>
			<td>31.66148</td>
			<td>45.18344</td>
			<td>17</td>
			<td>2020/12/22</td>
			<td>2021/11/25</td>
			<td>CMG-3ESP/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/SAM1.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>SAM2</td>
			<td>Samawa 2</td>
			<td>30.52952</td>
			<td>44.55866</td>
			<td>205</td>
			<td>2023/03/03</td>
			<td>--</td>
			<td>CMG-3ESP/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/SAM2.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
		<tr>
			<td>SLY1</td>
			<td>Sulaymaniyah 1</td>
			<td>35.5784</td>
			<td>45.3667</td>
			<td>756</td>
			<td>2015/09/15</td>
			<td>--</td>
			<td>CMG-3ESP/DM24</td>

			<td><a href="https://f005.backblazeb2.com/file/mpsniq/stations/SLY1.zip" target="_blank">Download</a></td>

			<td></td>
		</tr>
	</table>
</div>
<br>
<p style="margin-left: 150px; text-align: justify; margin-top: -830px; position: relative; font-size: 19px; font-family: time new romane; width: 150%"><strong>Table 1: </strong>Information on the broadband seismic stations of the Mesopotamian Seismological Network (MPSN).</p>
{% endblock content %}
